/*-------------------
Client/All Work Page
---------------------*/
.allWork {
	@include span-columns(12);

	&__intro {
		@include span-columns(9 of 12);
		@include clearfix;
		margin-bottom: 50px;
		@include media($mobile){
			@include span-columns(12);
			margin-right: 0;
		}
	}
}




/*-------------------
Work Item Page
---------------------*/
.work {
	@include clearfix;	

	&__wrapper {
		@include span-columns(12);
		@include media($mobile){
			margin-right: 0;
		}

		h1 {
			font-size: 2em;
			@include media($mobile){
				font-size: 1.2em;
			}
		}
	}


	&__summary {
		@include span-columns(7 of 12);	
		@include media($mobile){
			@include span-columns(12);			
		}		
	}


	&__img {
		@include span-columns(5 of 12);
		@include clearfix;		
		@include media($mobile){
			@include span-columns(12);
			margin-bottom: 25px;
			margin-right: 0;
		}

		&--wrapper {
			@include span-columns(12);			
			margin-bottom: 15px;
			@include media($mobile){
				margin-right: 0;
			}
		}
	}


	&__links {
		@include span-columns(12);
		

		a {
			display: inline-block;
		}
	}

}