.burger {
	position: absolute;
	right: 25px;
	top: 25%;		
	height: 40px;
	width: 40px;
	@include media(641px){
		display: none;
	}
	

	span {
		display: block;
		margin-bottom: 5px;
		border-bottom: 2px solid #fff;
		@include transition(all 0.5s ease);

		&:first-child {
			width: 36px;
		}		

		&:nth-child(2) {
			width: 28px;
		}

		&:last-child {
			width: 20px;
		}
	}


	&.active {

		span {

			&:first-child {
				position: fixed;
				top: 23px;
				@include transform(rotate(45deg));
			}		

			&:nth-child(2) {
				opacity: 0;				
			}

			&:last-child {
				position: fixed;
				top: 23px;
				width: 36px;
				@include transform(rotate(-45deg));
			}		
		}
	}
}