/*--------------------
General
----------------------*/
$green: #35df79;

/*--------------------
Contact Form
----------------------*/
$input-grey: #2f2e2e;
$input-blue: #11519a;

/*--------------------
About
----------------------*/
$linkedinBlue: #0077b5;