@import 'https://fonts.googleapis.com/css?family=Muli:300,400';

/*------------------------
Font Weight for Muli type
--------------------------*/
$light: 300;
$bold: 400;




/*------------------------
Muli w/ fallback
--------------------------*/
$Muli: 'Muli', arial;

