body {
	font-family: $Muli;
	background-color: #000;
	color: #fff;

	div, p, span, li,
	a, label, input,
	input[type="submit"],
	input[type="password"],
	input[type="email"],
	textarea {
		font-family: $Muli;
		font-weight: $light;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $Muli;
		font-weight: $bold;
	}
}